
    {{> head}}



    <!--HANDLEBARS PARTIALS-->
    {{> navbar}}

    <div class="container">
        <div class="row">

        <div class="col-8">
            <h1>Ejemplo de Imagen</h1>
            <p>Lorem Ipsum </p>
        </div>

        <div class="col-4">
            <img src="assets/img/CMIG0487.JPG" class="img-thumbnail">
        </div>

    </div>
    </div>

    

    {{> footer}}